/* DO THIS LAST! DO NOT WASTE TIME ON STYLE RANIA! 
KEEP IT UGLY FOR NOW, AS LONG AS YOU CAN SEE WHAT'S GOING ON */
body {
  background-image: url('imgs/minefield.jpg');
  background-size: 1520px;
  font-family: 'VT323', monospace;
  text-shadow: 1px 1px 2px #000;

  /* font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif; */
}

.container table {
  border-collapse: collapse;
  border: collapse;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell {
  display: inline-block;
  text-align: center;
  margin: 2px;
  padding: 10px;
  width: 20px;
  height: 20px;
  background-image: url('imgs/grass.png');
  background-size: contain;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px #000000;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: bold;
}

.danger {
  background-image: url('imgs/danger.jpg') !important;
  background-size: contain;
}

.cell img {
  object-fit: cover;
  width: 160%;
  height: 160%;
  transform: translate(-20%, -10%);
}
.revealed {
  background-image: url('imgs/open.jpg');
  background-size: cover;
}

.mode {
  font-size: 40px;
  text-align: center;
}

.timer {
  font-size: 40px;
  margin-top: 25px;
  text-align: center;
}
.reset {
  text-align: center;
}

.restart {
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  height: 50px;
  width: 50px;
  font-size: 25px;
  background-image: url('imgs/emoji.jpg');
  background-size: cover;
}

h2 {
  text-align: center;
  font-size: 30px;
}

hr {
  margin-top: 250px;
  border-top: 1px solid rgb(6, 76, 21);
  border-bottom: 1px solid rgb(17, 91, 50);
}
footer {
  font-size: 15px;
  color: rgb(213, 208, 208);
  margin-top: 10px;
  text-align: center;
}

.end {
  position: absolute;
  left: 5%;
  bottom: 65%;
  width: 300px;
  height: 250px;
  display: none;
}
