body {
  background-image: url('https://crazydiamond24.github.io/MineSweeperCA/imgs/sweepers.png');
  background-size: cover;
  background-attachment: fixed;
  font-family: 'VT323', monospace, 'Comic Sans MS', 'Chalkboard SE',
    'Comic Neue', sans-serif;
  text-shadow: 1px 1px 2px #000;
}

.container table {
  border-collapse: collapse;
  border: collapse;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell {
  display: inline-block;
  text-align: center;
  margin: 2px;
  padding: 10px;
  width: 20px;
  height: 20px;
  background-image: url('https://crazydiamond24.github.io/MineSweeperCA/imgs/grass.png');
  background-size: contain;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 1px #000000;
  color: rgb(255, 255, 255);
  font-size: 25px;
  font-weight: bold;
}

.danger {
  background-image: url('https://crazydiamond24.github.io/MineSweeperCA/imgs/danger.jpg') !important;
  background-size: contain;
}

.cell img {
  object-fit: cover;
  width: 160%;
  height: 160%;
  transform: translate(-20%, -10%);
}
.revealed {
  background-image: url('https://crazydiamond24.github.io/MineSweeperCA/imgs/open.jpg');
  background-size: cover;
}

.timer {
  font-size: 30px;
  margin-top: 25px;
  text-align: center;
  color: #42333a;
}
.reset {
  text-align: center;
}

.restart {
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  height: 50px;
  width: 50px;
  font-size: 25px;
  background-image: url('https://crazydiamond24.github.io/MineSweeperCA/imgs/emoji.jpg');
  background-size: cover;
}

h2 {
  text-align: center;
  font-size: 25px;
  color: rgb(48, 187, 115);
  background-color: rgba(27, 68, 112, 0.2);
  width: fit-content;
  margin: auto;
  border-radius: 10px;
  padding-bottom: 5px;
  border: 1px solid black;
}

hr {
  margin-top: 50px;
  margin-left: 680px;
  width: 400px;
  border: none;
}
footer {
  font-size: 15px;
  color: rgb(213, 208, 208);
  margin-top: 10px;
  text-align: center;
}

.end {
  position: absolute;
  left: 5%;
  bottom: 65%;
  width: 300px;
  height: 250px;
  display: none;
}

.total {
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  color: rgb(211, 124, 124);
}

.instructions {
  margin-bottom: 10px;
  text-align: center;
  color: rgb(166, 234, 154);
}
.mode {
  width: fit-content;
  margin: auto;
  box-sizing: border-box;
  font-size: 40px;
  text-align: center;
  background-color: rgba(16, 40, 72, 0.4);
  border-radius: 15px;
}

.expert {
  color: rgb(228, 80, 80);
}

.inter {
  color: rgb(218, 218, 70);
}

.beginner {
  color: rgb(72, 187, 72);
}

.flag {
  font-size: 20px;
}

hr:before {
  content: '🌸 🌻 🌷 🌼 🌹 🌸';
}
